*
!Bestseller
!FlatShipping
!LatestProducts
!Openai
!Paypal
!Social
!Stripe
!BkAi
!GdMigrateImagePaths
!BanliTheme
!BanliTheme/Lang
!BanliTheme/Lang/**
!BanliTheme/Static
!BanliTheme/Static/public
!BanliTheme/Static/public/banli_theme-assets
!BanliTheme/Static/public/banli_theme-assets/**
!BanliTheme/Static/public/build
!BanliTheme/Static/public/build/beike
!BanliTheme/Static/public/build/beike/shop
!BanliTheme/Static/public/build/beike/shop/banli_theme
!BanliTheme/Static/public/build/beike/shop/banli_theme/banli_theme
!BanliTheme/Static/public/build/beike/shop/banli_theme/banli_theme/**
!BanliTheme/Static/public/image
!BanliTheme/Static/public/image/module
!BanliTheme/Static/public/image/module/**
BanliTheme/**/.DS_Store
!.gitignore
